name: Pipeline de ambiente dev

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:

  job1:
    name: Testar codigo
    runs-on: ubuntu-latest

    steps:
    - name: Obtendo o codigo repositorio
      uses: actions/checkout@v3

    - name: Instalando o Node.js v@Latest
      uses: actions/setup-node@v3
      with:
        node-version: latest
        cache: 'npm'
        
    - name: Instalando bibliotecas do Node.js do projeto
      run: npm install

    - name: Executando test automatizado
      uses: cypress-io/github-action@v5
      with:
        start: npm start
        wait-on: 'http://localhost:3000'
        browser: chrome
